:root{
   --fundo:#1E90FF;
   --cartao-frente:#4169E1;
   --cartao-verso:#6495ED;
   --destaque:#87CEFA;
   --preto:#000000;
   --branco:#F8F8FF;
}

body{
   background-color: var(--fundo);
   margin: 0;
}

footer{
position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
test-align: center;
}
#container{
   display: flex;
   padding: 4rem;
   gap: 3rem;
   flex-wrap: wrap:wrap
}
.cartao{
   flex-grow: 1;
   flex-basis:calc(33% - 6rem);
   margin: 1rem;
   height: 20rem;
}