:root{
   --fundo:#1E90FF;
   --cartao-frente:#4169E1;
   --cartao-verso:#6495ED;
   --destaque:#87CEFA;
   --preto:#000000;
   --branco:#F8F8FF;
}

body{
   background-color: var(--fundo);
   margin: 0;
}

footer{
position: fixed;
bottom: 0;
background-color



}